.glow{  /*shining block*/
  box-shadow: 0px 0px 20px 3px red;
  height: 100px;
  width: 100px;
  background-color: blue;
}

.normal{  /*normal block*/
  height: 100px;
  width: 100px;
  background-color: blue;
}

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}